Hello world

 <app-test-comp></app-test-comp> 

 <!-- string interpolation {{_________}}-->

 <h3>AngularBasics</h3>

<h3>Welcome to {{title}}</h3>

{{projectName}} and {{title}}



<br>
{{concept1}}

<br>
{{concept2}}

<!-- <input value = "Mounica">
<br>
<input [value] = "customerRole">
<br>
<input type = "text" value="abcd">
<br>
<input [type] = "InputType">
<br>
<input type = "text" disabled = "true">
<br>
<input [type] = "InputType" disabled = "true">
<br>
<input [type]="InputType" [disabled]="isDisabled" > -->

<input value = "Mounica">
<input [value] = "customerRole">

<input type = "text" value="abcd">
<input [type] = "InputType">

<input type = "text" disabled = "true">
<input [type] = "InputType" disabled = "true">
<input [type]="InputType" [disabled]="isDisabled" >



<!-- {{concept3}} -->

<!-- event | task | action ---------() -->

  <button (click)="btnClick()" (mouseover)="btnMouseOver()">clickMe</button>
  <!-- <button (mouseover)="btnMouseOver()">clickMe</button> -->

  
